<div class="row" block-ui="main" id="companyEdit">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li ng-if="titles.firstTitle"><i class="fa fa-home"></i><a href="javascript:;">{{titles.firstTitle}}</a><i class="fa fa-angle-right"></i></li>
                <li ng-if="titles.secTitle"><a href="javascript:;">{{titles.secTitle}}</a></li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">企业信息</div>
            <div class="panel-body form">
                <form name="editForm" ng-submit="submitForm(editForm.$valid)" class="form-horizontal" novalidate>
                    <div class="format-height"></div>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">企业编号</label>
                            <div class="col-md-6" >
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="code" ng-model="formData.code" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">企业名称<span class="required">*</span></label>
                            <div class="col-md-6" ng-class="editForm.name.$invalid && (editForm.name.$dirty || submited) ? 'has-error':''">
                                <div class="input-icon right">
                                    <i class="fa tooltips" ng-class="editForm.name.$invalid && (editForm.name.$dirty || submited) ? 'fa-exclamation':''"></i>
                                    <input type="text" class="form-control" name="name" placeholder="请输入公司名称（必填项，不超过30个汉字）" ng-model="formData.name" required
                                        ng-maxlength="30">
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-if="editForm.name.$invalid && (editForm.name.$dirty || submited)">
                                <span ng-if="editForm.name.$error.required">请输入公司名称</span>
                                <span ng-show="editForm.name.$error.maxlength">公司名称不能超过30个汉字</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">企业法人<span class="required">*</span></label>
                            <div class="col-md-6" ng-class="editForm.legalPerson.$invalid && (editForm.legalPerson.$dirty || submited) ? 'has-error':''">
                                <div class="input-icon right">
                                    <i class="fa tooltips" ng-class="editForm.legalPerson.$invalid && (editForm.legalPerson.$dirty || submited) ? 'fa-exclamation':''"></i>
                                    <input type="text" class="form-control" name="legalPerson" placeholder="请输入企业法人（必填项，不能超过15个汉字）" ng-model="formData.legalPerson"
                                        required ng-maxlength="15">
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-if="editForm.legalPerson.$invalid && (editForm.legalPerson.$dirty || submited)">
                                <span ng-if="editForm.legalPerson.$error.required">请输入企业法人</span>
                                <span ng-show="editForm.legalPerson.$error.maxlength">企业法人不能超过15个汉字</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">运营性质<span class="required">*</span></label>
                            <div class="col-md-6" ng-class="editForm.opType.$invalid && (editForm.opType.$dirty || submited) ? 'has-error':''">
                                <select name="opType" class="form-control" ng-model="formData.opType" required>
                                    <option value="">请选择(必选)</option>
                                     <option ng-repeat="option in companyOption" value="{{option.lookupKey}}">
                                        {{option.lookupValue}}
                                    </option> 
                                </select>
                            </div>
                            <div class="col-md-3 error" ng-if="editForm.opType.$invalid && (editForm.opType.$dirty || submited)">
                                <span ng-if="editForm.opType.$error.required">请选择运营性质</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">详细地址<span class="required">*</span></label>
                            <div class="col-md-6" ng-class="editForm.address.$invalid && (editForm.address.$dirty || submited) ? 'has-error':''">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="address" ng-model="formData.address" placeholder="请输入详细地址（必填项，不超过20个汉字）" ng-maxlength="40" required>
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-show="editForm.address.$invalid && (editForm.address.$dirty || submited)">
																<span ng-if="editForm.address.$error.required">请输入详细地址</span>
                                <span ng-show="editForm.address.$error.maxlength">详细地址不能超过20个汉字</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">纬度<span class="required">*</span></label>
                            <div class="col-md-6" ng-class="(editForm.lat.$dirty || submited) ? (editForm.lat.$valid ? 'has-success': 'has-error') :''">
                                <div class="input-group">
                                    <input type="number" ng-model="formData.lat" id="lat" class="form-control" name="lat" ng-maxlength="20" ng-pattern="/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/"
                                        placeholder="30.000000" required>
                                    <span class="input-group-btn" id="mapBtnSpan" ng-click="openMap($event)">
												                <button id="mapOpenBtn" class="uc-position-map-btn" type="button"><span></span>地图</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-show="editForm.lat.$invalid && (editForm.lat.$dirty || submited)">
                                <span ng-show="editForm.lat.$error.required">请输入纬度</span>
                                <span ng-show="editForm.lat.$error.pattern">格式错误，仅支持数字(可以有小数)</span>
                                <span ng-show="editForm.lat.$error.maxlength">纬度不能超过20个字符</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">经度<span class="required">*</span></label>
                            <div class="col-md-6" ng-class="(editForm.lng.$dirty || submited) ? (editForm.lng.$valid ? 'has-success': 'has-error') :''">
                                <div class="input-icon right">
                                    <i class="fa tooltips" ng-class="(editForm.lng.$dirty || submited) ? (editForm.lng.$valid ? 'fa-check': 'fa-exclamation') :''"></i>
                                    <input type="number" class="form-control" placeholder="120.000000" ng-maxlength="20" name="lng" ng-pattern="/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/"
                                        ng-model="formData.lng" required>
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-show="editForm.lng.$invalid && (editForm.lng.$dirty || submited)">
                                <span ng-show="editForm.lng.$error.required">请输入经度</span>
                                <span ng-show="editForm.lng.$error.pattern">格式错误，仅支持数字(可以有小数)</span>
                                <span ng-show="editForm.lng.$error.maxlength">经度不能超过20个字符</span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-2">联系人<span class="required">*</span></label>
                            <div class="col-md-6" ng-class="editForm.contacts.$invalid && (editForm.contacts.$dirty || submited) ? 'has-error':''">
                                <div class="input-icon right">
                                    <i class="fa tooltips" ng-class="editForm.contacts.$invalid && (editForm.contacts.$dirty || submited) ? 'fa-exclamation':''"></i>
                                    <input type="text" class="form-control" name="contacts" placeholder="请输入联系人（必填项，不超过16个汉字）" ng-model="formData.contacts" required ng-maxlength="20">
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-if="editForm.contacts.$invalid && (editForm.contacts.$dirty || submited)">
                                <span ng-if="editForm.contacts.$error.required">请输入联系人</span>
                                <span ng-show="editForm.contacts.$error.maxlength">联系人不能超过16个汉字</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">联系电话<span class="required">*</span></label>
                            <div class="col-md-6" ng-class="editForm.contactNumber.$invalid && (editForm.contactNumber.$dirty || submited) ? 'has-error':''">
                                <div class="input-icon right">
                                    <i class="fa tooltips" ng-class="editForm.contactNumber.$invalid && (editForm.contactNumber.$dirty || submited) ? 'fa-exclamation':''"></i>
                                    <input type="text" class="form-control" name="contactNumber" ng-model="formData.contactNumber" placeholder="请输入联系电话（必填项）" required ng-maxlength="11" ng-pattern="/^0?1[3|4|5|7|8][0-9]\d{8}$/">
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-if="editForm.contactNumber.$invalid && (editForm.contactNumber.$dirty || submited)">
                                <span ng-if="editForm.contactNumber.$error.required">请输入联系电话</span>
                                <span ng-show="editForm.contactNumber.$error.maxlength">联系电话不能超过11位</span>
                                <span ng-show="editForm.contactNumber.$error.pattern">联系电话格式错误</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">邮箱</label>
                            <div class="col-md-6">
                                <div class="input-icon right">
                                    <input type="email" class="form-control" name="email" ng-model="formData.email" placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-if="editForm.email.$invalid && editForm.email.$dirty">
                                <span ng-show="editForm.email.$error.email">邮箱格式错误</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                              营业执照<span class="required">*</span>
                            </label>
                            <div class="col-md-6">
                                <div style="width: 176px;height: 186px;border: dotted 1px;margin-bottom: 10px;vertical-align: middle;" data-toggle="modal" data-target="#myModal">
                                  <a href="javascript:void(0);"  class="thumbnail" >
                                    <img ngf-src="tmpData.picUrl1 || defaultPic" style="width: 171px;max-height: 180px;" >
                                    <input type="hidden" ng-model="formData.buisnessLicPic" name="buisnessLicPic" required>
                                  </a>
                                </div>
                                <div class="caption">
                                    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/jpg,image/jpeg,image/png" ngf-max-height="10000"
                                        ngf-max-size="5MB">选择图片</button>
                                    <button ng-if="formData.buisnessLicPic" type="button" ng-click="delPic()">删除图片</button>
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-if="editForm.buisnessLicPic.$error.required && submited">
                                <span>请选择营业执照</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">备注</label>
                            <div class="col-md-6">
                                <div class="input-icon right">
                                    <textarea class="form-control" name="description" ng-model="formData.description" cols="50" rows="5" placeholder="请输入备注（选填项，不超过200个汉字）" ng-maxlength="200"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3 error" ng-if="editForm.description.$invalid && (editForm.description.$dirty || submited)">
                                <span ng-show="editForm.description.$error.maxlength">备注不能超过200个位</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">更新人</label>
                            <div class="col-md-6" >
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="opUser" ng-model="formData.opUser" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">最近更新时间</label>
                            <div class="col-md-6" >
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="updateTime" ng-model="formData.updateTime" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-8 col-md-4">
                            <!-- <button type="button" class="btn default" ui-sref="{{stateGoIndex}}">取消</button> -->
                            <button type="submit" class="btn btn-info">应用</button>
                        </div>
                    </div>
                </form>
                <div id="mapWrapper" ng-show="mapShow" ng-style="{'top': mapContainerStyle.top, 'left': mapContainerStyle.left}">
                    <div class="mapClose" ng-click="mapClose()"></div>
                    <div id="mapContainer" ng-style="{'width': mapContainerStyle.width, 'height': mapContainerStyle.height}">
                        <div id="tip">
                            <input type="text" id="keyword" name="keyword" value="请输入关键字：(选定后搜索)" onfocus='this.value=""' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>