
<div id="monitoralarm-index" block-ui="main">
  <div class="page-bar">
      <ul class="page-breadcrumb">
          <li ng-if="titles.firstTitle"><i class="fa fa-home"></i><a href="javascript:;">{{titles.firstTitle}}</a><i class="fa fa-angle-right"></i></li>
          <li ng-if="titles.secTitle"><a href="javascript:;">{{titles.secTitle}}</a><i ng-if="titles.thirdTitle" class="fa fa-angle-right"></i></li>
            <li ng-if="titles.thirdTitle"><a href="javascript:;">{{titles.thirdTitle}}</a></li>
      </ul>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="selectbox">
              <ul class="option">
                  <div class="form-inline" id="queryForm">
                      <div class="form-group form-group-sm">
                          设备编号： <input class="form-control" name="laneCode" ng-model="formData.laneCode" type="text">
                      </div>
                      <div class="form-group form-group-sm">
                          所属停车场： <input class="form-control" name="parklotName" ng-model="formData.parklotName" type="text">
                      </div>
                      <div class="form-group form-group-sm">
                          出入口名称： <input class="form-control" name="laneName" ng-model="formData.laneName" type="text">
                      </div>
                      <div class="form-group">
                          <label class="control-label">告警类型：</label>
                          <select name="alarmType" ng-model="formData.alarmType" class="form-control">
                              <option value="">请选择</option>
                              <option ng-repeat="option in alarmTypeOption" value="{{option.lookupKey}}">{{option.lookupValue}}</option>
                          </select>
                      </div>
                      <div class="input-group">
                          <label class="control-label">时间：</label>
                          <input type="text" class="form-control" id="searchTm"
                                 uib-datepicker-popup="{{format}}"
                                 ng-model="tempData.startTime"
                                 is-open="tempData.opened"
                                 date-disabled="disabled(date, mode)"
                                 datepicker-options="dateOptions"
                                 ng-required="true"
                                 alt-input-formats="altInputFormats" ng-click="open()" readonly/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                      </div>
                      <div class="input-group">
                          <label class="control-label">-</label>
                          <input type="text" class="form-control" id="searchTm2"
                                 uib-datepicker-popup="{{format}}"
                                 ng-model="tempData.endTime"
                                 is-open="tempData.opened2"
                                 date-disabled="disabled(date, mode)"
                                 datepicker-options="dateOptions2"
                                 ng-required="true"
                                 alt-input-formats="altInputFormats" ng-click="open2()" readonly/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                      </div>
                      <div class="btn-group">
                          <button class="btn blue-madison search" ng-click="toSearch()">搜 索</button>
                      </div>
                      <div class="btn-group">
                          <button class="btn search" ng-click="toReset()">重 置</button>
                      </div>
                  </div>
              </ul>
              <div id="ucSelectBoxWrapper" style="padding: 0px;"></div>
          </div>
          <table class="table table-bordered table-hover" id="monitoralarm-table">
              <thead>
              <tr>
                  <th class="table-checkbox">
                      <input type="checkbox" class="group-checkable" style="text-align: right;" data-set="#monitoralarm-table .checkboxes"/>
                  </th>
                  <th>停车场名称</th>
                  <th>出入口名称</th>
                  <th>设备编号</th>
                  <th>告警类型</th>
                  <!-- <th>联系方式</th> -->
                  <th>告警时间</th>
              </tr>
              </thead>
              <tbody></tbody>
          </table>
      </div>
  </div>
</div>
