<div class="form-group">
  <label class="control-label col-md-2">优惠规则名称<span class="required">*</span></label>
  <div class="col-md-6" ng-class="addForm.couponRuleId.$invalid && addForm.couponRuleId.$dirty ? 'has-error':''">
      <div class="input-icon right">
          <i class="fa tooltips" ng-class="addForm.couponRuleId.$invalid && addForm.couponRuleId.$dirty ? 'fa-exclamation':''"></i>
          <select name="couponRuleId" class="form-control couponRuleId1" required>
              <option value="">请选择</option>
              <option ng-repeat="option in couponRuleOptions" value="{{option.couponRuleId}}">
                  {{option.couponRuleName}}
              </option>
          </select>
      </div>
  </div>
  <div class="col-md-3 error" ng-if="(addForm.couponRuleId.$invalid && addForm.couponRuleId.$dirty) || submited">
      <span ng-if="addForm.couponRuleId.$error.required">请输入优惠规则名称</span>
      <span ng-if="addForm.couponRuleId.$error.maxlength">规则名称不能超过10个字</span>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-2">优惠金额<span class="required">*</span></label>
  <div class="col-md-6">
      <div class="input-icon right">
          <input type="text" class="form-control" name="couponPrice" readonly>
          <span style="position:absolute;right:8px;top:8px;">元</span>
      </div>
  </div>
</div>
<div class="form-group" style="display: none;">
<label class="control-label col-md-2">免费次数<span class="required">*</span></label>
<div class="col-md-6">
    <div class="input-icon right">
        <input type="text" class="form-control" name="freeNum" readonly >
    </div>
</div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">优惠券有效时间<span class="required">*</span></label>
    <div class="col-md-6">
        <div class="input-icon right">
            <input type="text" class="form-control" name="couponvalidtime" readonly >
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">规则描述<span class="required">*</span></label>
    <div class="col-md-6">
        <div class="input-icon right">
            <input type="text" class="form-control" name="ruleDesc" readonly >
        </div>
    </div>
</div>
<div class="form-group">
  <label class="control-label col-md-2">活动范围<span class="required">*</span></label>
  <div class="col-md-6" ng-class="addForm.rangeCode.$invalid && addForm.plate.$dirty ? 'has-error':''">
      <div class="input-icon right">
          <i class="fa tooltips" ng-class="addForm.rangeCode.$invalid && addForm.rangeCode.$dirty ? 'fa-exclamation':''"></i>
          <select name="rangeCode" class="form-control selectpicker" multiple data-live-search="true" title="请选择停车场" required >
              <option ng-repeat="option in parklotCodeOptions" value="{{option.code}}">
                  {{option.name}}
              </option>
          </select>
      </div>
  </div>
  <div class="col-md-3 error" ng-if="(addForm.rangeCode.$invalid && addForm.rangeCode.$dirty) || submited">
      <span ng-if="addForm.rangeCode.$error.required">请选择活动范围</span>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-2">发行数量<span class="required">*</span></label>
  <div class="col-md-6">
    <label class="btn btn-info">
      <input type="radio" value="true" name="couponIsLimit">无限制
    </label>
    <label class="btn btn-info">
      <input type="radio" value="false" name="couponIsLimit">有限制
    </label>
    <input type="number" class="form-control timeRange" style="margin-left:20px;margin-right:5px;display: none;" name="couponCount" ng-model="formData.couponCount" min="0" step="1"> <span class="limitNum" style="display: none;">张</span>
  </div>
</div>
<input type="hidden">
