
<div class="form-group">
  <label class="control-label col-md-2">活动范围<span class="required">*</span></label>
  <div class="col-md-6" ng-class="addForm.rangeCode.$invalid && addForm.plate.$dirty ? 'has-error':''">
      <div class="input-icon right">
          <i class="fa tooltips" ng-class="addForm.rangeCode.$invalid && addForm.rangeCode.$dirty ? 'fa-exclamation':''"></i>
          <select name="rangeCode" class="form-control selectpicker" multiple data-live-search="true" title="请选择停车场" required >
              <option ng-repeat="option in parklotCodeOptions" value="{{option.code}}">
                  {{option.name}}
              </option>
          </select>
      </div>
  </div>
  <div class="col-md-3 error" ng-if="(addForm.rangeCode.$invalid && addForm.rangeCode.$dirty) || submited">
      <span ng-if="addForm.rangeCode.$error.required">请选择活动范围</span>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-2">赠送数量<span class="required">*</span></label>
  <div class="col-md-6">
      <div class="input-icon right">
          <input type="number" class="form-control" name="couponIsLimit" min="1" step="1" max="10" required>
          <span style="position:absolute;right:8px;top:8px;">张</span>
      </div>
  </div>
</div>