<div class="form-group">
    <label class="control-label col-md-2">优惠金额<span class="required">*</span></label>
    <div class="col-md-6">
        <div class="input-icon right">
            <input type="text" class="form-control" name="couponPrice" readonly >
            <span style="position:absolute;right:8px;top:8px;">元</span>
        </div>
    </div>
</div>
<div class="form-group" style="display: none;">
  <label class="control-label col-md-2">免费次数<span class="required">*</span></label>
  <div class="col-md-6">
      <div class="input-icon right">
          <input type="text" class="form-control" name="freeNum" readonly>
      </div>
  </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">优惠券有效时间<span class="required">*</span></label>
    <div class="col-md-6">
        <div class="input-icon right">
            <input type="text" class="form-control" name="couponvalidtime" readonly >
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">规则描述</label>
    <div class="col-md-6">
        <div class="input-icon right">
            <input type="text" class="form-control" name="ruleDesc" readonly>
        </div>
    </div>
</div>

